:root,
:host,
.sl-theme-light {
  --custom-font-display: 'Audiowide', sans-serif;
  --sl-color-green-50: #ecfef3;
  --sl-color-green-100: #bcfad3;
  --sl-color-green-200: #7df6aa;
  --sl-color-green-300: #1ded6a;
  --sl-color-green-400: #1ad660;
  --sl-color-green-500: #16b852;
  --sl-color-green-600: #129844;
  --sl-color-green-700: #0f7d38;
  --sl-color-green-800: #0d672e;
  --sl-color-green-900: #094a21;
  --sl-color-green-950: #062d14;
  --sl-color-primary-50: #f9f9ff;
  --sl-color-primary-100: #eaebfe;
  --sl-color-primary-200: #d9dcfc;
  --sl-color-primary-300: #c8cbfb;
  --sl-color-primary-400: #b0b5f9;
  --sl-color-primary-500: #9197f7;
  --sl-color-primary-600: #6f76f5;
  --sl-color-primary-700: #4e58f2;
  --sl-color-primary-800: #2f3af0;
  --sl-color-primary-900: #1721bf;
  --sl-color-primary-950: #0f1579;
  --sl-color-red-50: #fef8f9;
  --sl-color-red-100: #fde7ec;
  --sl-color-red-200: #fcd4de;
  --sl-color-red-300: #fabfcd;
  --sl-color-red-400: #f8a1b6;
  --sl-color-red-500: #f57796;
  --sl-color-red-600: #f13c68;
  --sl-color-red-700: #d31a47;
  --sl-color-red-800: #af153b;
  --sl-color-red-900: #7f0f2a;
  --sl-color-red-950: #500a1b;
  --sl-font-sans: 'Lexend', sans-serif;
}

.sl-theme-dark,
:host {
  --sl-color-primary-950: #f9f9ff;
  --sl-color-primary-900: #eaebfe;
  --sl-color-primary-800: #d9dcfc;
  --sl-color-primary-700: #c8cbfb;
  --sl-color-primary-600: #b0b5f9;
  --sl-color-primary-500: #9197f7;
  --sl-color-primary-400: #6f76f5;
  --sl-color-primary-300: #4e58f2;
  --sl-color-primary-200: #2f3af0;
  --sl-color-primary-100: #1721bf;
  --sl-color-primary-50: #191c47;
}

body {
  margin: 0;
  padding: var(--sl-spacing-large) 0;
}

* {
  font-family: var(--sl-font-sans);
  font-optical-sizing: auto;
  color: var(--sl-color-primary-950);

  &:not(:defined) {
    display: none;
  }
}

#app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: row;
  align-items: end;
  gap: var(--sl-spacing-4x-large) 0;
  margin: 0 auto var(--sl-spacing-large) auto;
  width: 50%;

  & > * {
    padding: 0 var(--sl-spacing-4x-large);
  }
}

h1 {
  margin: 0;
  font-family: var(--custom-font-display);
  font-size: var(--sl-font-size-2x-large);
  background: linear-gradient(
    var(--sl-color-primary-600),
    var(--sl-color-primary-950)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.info {
  & sl-icon-button {
    font-size: var(--sl-font-size-large);
  }
}

div.group {
  display: flex;
  gap: var(--sl-spacing-medium);
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

sl-button {
  & > sl-icon {
    font-size: var(--sl-font-size-medium);
    margin-left: var(--sl-spacing-3x-small);
  }
}

ol {
  list-style-type: none;

  & > li {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-large);
    margin: var(--sl-spacing-x-large) 0;

    & > sl-icon {
      color: var(--sl-color-primary-700);
      font-size: var(--sl-font-size-large);
    }
  }
}

sl-button:hover {
  & > sl-icon {
    color: var(--sl-color-primary-700);
  }
}

sl-dialog {
  &::part(body) {
    padding: var(--sl-spacing-small) var(--sl-spacing-large);
  }
}

sl-select {
  &::part(form-control-label) {
    margin-bottom: var(--sl-spacing-small);
  }

  & small {
    font-weight: bold;
  }
}

p.result {
  place-self: center center;
  margin: 0;
  font-family: var(--custom-font-display);
  font-size: var(--sl-font-size-x-large);
  visibility: hidden;
  grid-column: span 2;

  &.correct {
    visibility: visible;
    background: linear-gradient(
      var(--sl-color-green-400),
      var(--sl-color-green-700)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.incorrect {
    visibility: visible;
    background: linear-gradient(
      var(--sl-color-red-500),
      var(--sl-color-red-800)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.piano-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  gap: var(--sl-spacing-large);

  & > sl-button {
    max-width: 50%;
  }
}

footer {
  grid-column: span 2;
  display: flex;
  justify-content: center;

  & > p.made-with-love {
    margin: 0;
  }
}

sl-switch {
  --thumb-size: var(--sl-font-size-large);
}

div.switch-mode {
  display: flex;
  align-items: center;

  & > sl-switch {
    margin-left: var(--sl-spacing-x-small);
    margin-right: var(--sl-spacing-3x-small);
  }
}

@media only screen and (width <= 800px) {
  #app {
    gap: var(--sl-spacing-3x-large) 0;
    width: 100%;

    & > * {
      padding: 0 var(--sl-spacing-small);
    }
  }

  sl-select::part(display-input) {
    font-size: var(--sl-font-size-small);
  }

  sl-option::part(label) {
    font-size: var(--sl-font-size-small);
  }

  div.group {
    gap: var(--sl-spacing-x-small);
  }
}
