* {
  font-family: var(--sl-font-sans);
  font-optical-sizing: auto;
  color: var(--sl-color-primary-950);
}

p {
  margin: 0;
}

body {
  margin: var(--sl-spacing-large) auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: row;
  align-items: end;
  gap: var(--sl-spacing-3x-large) var(--sl-spacing-4x-large);

  & > * {
    grid-column: span 2;
  }
}

sl-tab-group {
  padding: 0;
  grid-column: span 4;
}

*:not(:defined) {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: var(--custom-font-display);
  font-size: var(--sl-font-size-2x-large);
  background: linear-gradient(
    var(--sl-color-primary-600),
    var(--sl-color-primary-950)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.info {
  & sl-icon-button {
    font-size: var(--sl-font-size-large);
  }
}

div.group {
  display: flex;
  padding: 0;
  gap: var(--sl-spacing-medium);
  margin-right: 0;
  margin-left: auto;
}

sl-button {
  & > sl-icon {
    font-size: var(--sl-font-size-medium);
    margin-left: var(--sl-spacing-3x-small);
  }
}

ol {
  list-style-type: none;

  & > li {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-large);
    margin: var(--sl-spacing-x-large) 0;

    & > sl-icon {
      color: var(--sl-color-primary-700);
      font-size: var(--sl-font-size-large);
    }

    &:has(sl-icon[name='exclamation-circle']) {
      font-weight: 600;
    }
  }
}

sl-button:hover {
  & > sl-icon {
    color: var(--sl-color-primary-700);
  }
}

sl-dialog {
  --header-spacing: var(--sl-spacing-x-large);
  --body-spacing: 0;
  --footer-spacing: var(--sl-spacing-x-large);
}

sl-select {
  &::part(form-control-label) {
    margin-bottom: var(--sl-spacing-small);
  }

  ::part(display-input) {
    font-size: var(--sl-font-size-small);
  }
}

p.result {
  justify-self: center;
  font-family: var(--custom-font-display);
  font-size: var(--sl-font-size-x-large);
  visibility: hidden;

  &.correct {
    visibility: visible;
    background: linear-gradient(
      var(--sl-color-green-400),
      var(--sl-color-green-700)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.incorrect {
    visibility: visible;
    background: linear-gradient(
      var(--sl-color-red-500),
      var(--sl-color-red-800)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

div.score-field {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-x-small);

  & > p {
    color: var(--sl-color-primary-600);
    font-family: var(--custom-font-display);
    text-align: center;
  }
}

.piano-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 4;
  gap: var(--sl-spacing-large);
  margin: 0 auto;

  & > sl-button {
    max-width: 50%;
  }
}

p.made-with-love {
  grid-column: span 4;
  justify-self: center;
}

sl-switch {
  --thumb-size: var(--sl-font-size-large);
}

div.switch-mode {
  display: flex;
  align-items: center;

  & > sl-switch {
    margin-left: var(--sl-spacing-x-small);
    margin-right: var(--sl-spacing-small);

    &::part(label) {
      font-size: 0;
    }
  }
}

@media only screen and (width <= 800px) {
  body {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--sl-spacing-x-large) var(--sl-spacing-large);

    & > * {
      grid-column: span 1;
    }
  }

  h1 {
    font-size: var(--sl-font-size-x-large);
  }

  sl-option {
    & ::part(label) {
      font-size: var(--sl-font-size-small);
    }
  }

  div.group {
    gap: var(--sl-spacing-x-small);
  }

  sl-tab-group {
    grid-column: span 2;
  }

  .piano-container {
    grid-column: span 2;
  }

  p.made-with-love {
    grid-column: span 2;
  }

  sl-select.answer {
    grid-column: span 2;
  }

  p.result {
    grid-column: span 2;
  }
}
